In [46]:
import pandas as pd
import numpy as np

In [4]:
psg_players = pd.Series(['Navas','Mbappe','Neymar','Messi'], #especifica los valores
          index = [1,7,10,30] #especifica el indice, si no se pone, se hace una lista ordenada
          )
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [5]:
dict = {1:'Navas', 7:'Mbappe',10:'Neymar',30:'Messi'}
pd.Series(dict) #Otra manera de crear una serie

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [8]:
psg_players[7]

'Mbappe'

In [14]:
dict = {'Jugador': ['Navas','Mbappe','Neymar','Messi'],
        'Altura': [183,176,177,176],
        'Goles': [2,200,200,200]
        }

In [15]:
df_dataplayers = pd.DataFrame(dict,index=[1,7,10,30])
df_dataplayers

   Jugador  Altura  Goles
1    Navas     183      2
7   Mbappe     176    200
10  Neymar     177    200
30   Messi     176    200

In [12]:
df_dataplayers.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [16]:
#leer archivos

In [68]:
df_books = pd.read_csv('/content/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv',sep=',',header=0)
df_books

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [21]:
df_books.columns

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'], dtype='object')

In [22]:
#----

In [23]:
#iloc y loc

In [24]:
df_books[0:4]

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction

In [27]:
df_books[['Name','Author']]

,Name,Author
0,10-Day Green Smoothie Cleanse,JJ Smith
1,11/22/63: A Novel,Stephen King
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson
3,1984 (Signet Classics),George Orwell
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids
...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero

In [29]:
df_books.loc[0:4,['Name','Author']] #Busqueda por labels

                                                Name                    Author
0                      10-Day Green Smoothie Cleanse                  JJ Smith
1                                  11/22/63: A Novel              Stephen King
2            12 Rules for Life: An Antidote to Chaos        Jordan B. Peterson
3                             1984 (Signet Classics)             George Orwell
4  5,000 Awesome Facts (About Everything!) (Natio...  National Geographic Kids

In [31]:
df_books.loc[:,['Price']] *2 #Se pueden operar con los valores del dataframe

     Price
0       16
1       44
2       30
3       12
4       24
..     ...
545     16
546     16
547     16
548     16
549     16

[550 rows x 1 columns]

In [32]:
df_books.iloc[:,0:3] #Esta busqueda es por el indice, en lugar de por el label

,Name,Author,User Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7
1,11/22/63: A Novel,Stephen King,4.6
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7
3,1984 (Signet Classics),George Orwell,4.7
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8
...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7

In [33]:
#eliminar datos en pandas

In [35]:
df_books.drop('Genre',axis=1).head(2) #Con el drop se borra de la sentencia, mas no del dataframe original

,Name,Author,User Rating,Reviews,Price,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011

In [38]:
#df_books.drop('Genre',axis=1,inplace=True) #Poniendo el inplace, se borra del dataframe original

In [39]:
del df_books['Price'] #funcion propia de python, sirve para borrar tambien del dataframe

In [40]:
df_books

,Name,Author,User Rating,Reviews,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,2016
1,11/22/63: A Novel,Stephen King,4.6,2052,2011
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,2018
3,1984 (Signet Classics),George Orwell,4.7,21424,2017
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,2019
...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,2019
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2016
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2017
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2018
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2019

In [41]:
df_books.drop(0,axis=0).head(2) #borrado de filas

,Name,Author,User Rating,Reviews,Year
1,11/22/63: A Novel,Stephen King,4.6,2052,2011
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,2018

In [43]:
df_books.drop(range(0,10),axis=0).head(2) #borrado de filas

,Name,Author,User Rating,Reviews,Year
10,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,2017
11,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,2010

In [44]:
#add columns

In [45]:
df_books.head(2)

                            Name        Author  User Rating  Reviews  Year
0  10-Day Green Smoothie Cleanse      JJ Smith          4.7    17350  2016
1              11/22/63: A Novel  Stephen King          4.6     2052  2011

In [47]:
df_books['New column'] = np.nan #Creacion de nuevas columnas

In [48]:
df_books

,Name,Author,User Rating,Reviews,Year,New column
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,2016,NaN
1,11/22/63: A Novel,Stephen King,4.6,2052,2011,NaN
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,2018,NaN
3,1984 (Signet Classics),George Orwell,4.7,21424,2017,NaN
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,2019,NaN
...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,2019,NaN
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2016,NaN
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2017,NaN
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2018,NaN
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2019,NaN

In [49]:
data = np.arange(0,df_books.shape[0])

In [50]:
df_books['Range'] = data

In [51]:
df_books

,Name,Author,User Rating,Reviews,Year,New column,Range
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,2016,NaN,0
1,11/22/63: A Novel,Stephen King,4.6,2052,2011,NaN,1
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,2018,NaN,2
3,1984 (Signet Classics),George Orwell,4.7,21424,2017,NaN,3
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,2019,NaN,4
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,2019,NaN,545
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2016,NaN,546
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2017,NaN,547
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2018,NaN,548
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2019,NaN,549

In [52]:
#add rows

In [53]:
df_books.append(df_books)

,Name,Author,User Rating,Reviews,Year,New column,Range
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,2016,NaN,0
1,11/22/63: A Novel,Stephen King,4.6,2052,2011,NaN,1
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,2018,NaN,2
3,1984 (Signet Classics),George Orwell,4.7,21424,2017,NaN,3
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,2019,NaN,4
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,2019,NaN,545
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2016,NaN,546
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2017,NaN,547
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2018,NaN,548
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2019,NaN,549

In [54]:
#manejo de valores nulos

In [57]:
dictio = {'Col1':[1,2,3,np.nan],
 'Col2':[4,5,np.nan,6],
 'Col3':['a','b',7,None],
 }

In [58]:
df = pd.DataFrame(dictio)
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   NaN     7
3   NaN   6.0  None

In [59]:
df.isnull() #Verificar si son nulos

    Col1   Col2   Col3
0  False  False  False
1  False  False  False
2  False   True  False
3   True  False   True

In [60]:
df.isnull()*1

   Col1  Col2  Col3
0     0     0     0
1     0     0     0
2     0     1     0
3     1     0     1

In [61]:
df.fillna('Missing') #rellena los espacios nulos con Missing

      Col1     Col2     Col3
0      1.0      4.0        a
1      2.0      5.0        b
2      3.0  Missing        7
3  Missing      6.0  Missing

In [62]:
df.interpolate() #Interpola una serie

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   5.5     7
3   3.0   6.0  None

In [63]:
df.dropna() #dropea los datos que contienen sets nulos

   Col1  Col2 Col3
0   1.0   4.0    a
1   2.0   5.0    b

In [64]:
#Filtrado por condiciones

In [65]:
mayor_2016 = df_books['Year'] > 2016

In [66]:
df_books[mayor_2016]

,Name,Author,User Rating,Reviews,Year,New column,Range
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,2018,NaN,2
3,1984 (Signet Classics),George Orwell,4.7,21424,2017,NaN,3
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,2019,NaN,4
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,2017,NaN,7
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,2018,NaN,8
...,...,...,...,...,...,...,...
544,Wonder,R. J. Palacio,4.8,21625,2017,NaN,544
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,2019,NaN,545
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2017,NaN,547
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2018,NaN,548
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2019,NaN,549

In [69]:
genre_fiction = df_books['Genre'] == 'Fiction'

In [71]:
df_books[genre_fiction & -mayor_2016] #el - sirve para

,Name,Author,User Rating,Reviews,Price,Year,Genre
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction
20,All the Light We Cannot See,Anthony Doerr,4.6,36348,14,2014,Fiction
...,...,...,...,...,...,...,...
538,Winter of the World: Book Two of the Century T...,Ken Follett,4.5,10760,15,2012,Fiction
540,Wonder,R. J. Palacio,4.8,21625,9,2013,Fiction
541,Wonder,R. J. Palacio,4.8,21625,9,2014,Fiction
542,Wonder,R. J. Palacio,4.8,21625,9,2015,Fiction
543,Wonder,R. J. Palacio,4.8,21625,9,2016,Fiction

In [72]:
#funciones de pandas

In [73]:
df_books.info() #info general del dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [74]:
df_books.describe() #de las columnas numericas da datos estadisticos

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

In [77]:
df_books.head() #muestra solo una porcion del dataset

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [78]:
df_books.memory_usage(deep=True) #cuanta memorai esta usando el dataset

Index            128
Name           59737
Author         39078
User Rating     4400
Reviews         4400
Price           4400
Year            4400
Genre          36440
dtype: int64

In [79]:
df_books.drop_duplicates(keep='last') #elimina los duplicados

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [80]:
#Countby

In [82]:
df_books.groupby('Author').mean()

                            User Rating       Reviews      Price         Year
Author
Abraham Verghese               4.600000   4866.000000  11.000000  2010.500000
Adam Gasiewski                 4.400000   3113.000000   6.000000  2017.000000
Adam Mansbach                  4.800000   9568.000000   9.000000  2011.000000
Adir Levy                      4.800000   8170.000000  13.000000  2019.000000
Admiral William H. McRaven     4.700000  10199.000000  11.000000  2017.000000
...                                 ...           ...        ...          ...
Walter Isaacson                4.566667   6222.666667  20.333333  2013.333333
William Davis                  4.400000   7497.000000   6.000000  2012.500000
William P. Young               4.600000  19720.000000   8.000000  2013.000000
Wizards RPG Team               4.800000  16990.000000  27.000000  2018.000000
Zhi Gang Sha                   4.600000    128.500000  11.500000  2011.000000

[248 rows x 4 columns]

In [84]:
df_books.groupby('Author').mean().loc['Zhi Gang Sha']

User Rating       4.6
Reviews         128.5
Price            11.5
Year           2011.0
Name: Zhi Gang Sha, dtype: float64